.biggestheading {
  color: black; background-color: white;
}

p {
  color: #ff3399;
}

h2 {
  color: red;
}

h3 {
  color: orange;
}

h4 {
  color: yellow;
}

h5 {
  color: green;
}

h6 {
  color: blue;
}

h7 {
  color: purple;
}

.list {
  color: white;
}

div {
  width:10%;
  height:220px;
  background: url("http://bit.ly/2mxnXhj");
  background-size: cover;
  color: white;
}
